
.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  }

.line {
  display : flex;
  gap : 5px;
}

.tile {
  width : 30px;
  height: 30px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.correct{
  background-color: green;
}

.close{
  background-color: yellow;
}
.incorrect{
  background-color: lightgray;
}

